.grid-container{
    display: grid;
    background-color: rgb(238, 242, 242) ;
}

.item1 {
    background-color: rgba(192, 184, 190, 0.607); 
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: center;
}

.item2 {
    background-color: rgb(156, 206, 210); 
    display: flex; 
    grid-column-start: 1; 
    grid-column-end: 5;          
}

.areaproductos {
    grid-area: 4 / 2 / span 3 / span 2;
    display: flex;  
    justify-content: space-between;
    background-color:rgba(75, 107, 248, 0.509);
}

.piedepagina{
    grid-area: 7 / 1 / span 3/ span 4; 
    background-color: rgb(173, 178, 180);  
    display: flex;
    justify-content: space-between;
}
